<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li>${#temporals.format(localDateTime, 'yyyy-mm-dd HH:mm:ss')}: <span th:text="${#temporals.format(localDateTime, 'yyyy-mm-dd HH:mm:ss')}"></span></li>
<li>${#temporals.day(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.month(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.monthName(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.monthNameShort(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.year(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.dayOfWeek(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.dayOfWeekName(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.dayOfWeekNameShort(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.hour(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.minute(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.second(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
<li>${#temporals.nanosecond(localDateTime)}: <span th:text="${#temporals.format(localDateTime)}"></span></li>
</body>
</html>